body {
	/*background-color: red;*/
}

#randomNum {
	/*background-color: red;*/
	border-style: solid;
	border-width: 1px;
	height: 75px;


}

#scoreboard {
	/*background-color: red;*/
	border-style: solid;
	border-width: 1px;
	height: 75px;


}

.crystal-image {
	height: 50px

}

#totalScore {
	border-style: solid;
	border-width: 1px;
}

#userScore {
	border-style: solid;
	border-width: 1px;
	height: 75px;
}